@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap");
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #F3F5F8;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 0.5);
  z-index: 1;
  white-space: nowrap;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #A4571F;
  z-index: 1;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #F3F5F8;
  margin: 2.25em 10% 2.25em 10%;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #F3F5F8;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4C555C;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.125rem;
  color: #F3F5F8;
  line-height: 1.5;
  margin-bottom: 1.1em;
}

span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #4C555C;
}

a:link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #A4571F;
  text-decoration: none;
  line-height: 1.5;
  white-space: nowrap;
}
a:visited {
  color: #A4571F;
}
a:hover {
  color: #BD6B31;
}
a .btn {
  background-color: #A4571F;
  border-color: #A4571F;
}
a .btn:hover {
  background-color: #BD6B31;
  border-color: #BD6B31;
}
a .btn span {
  color: #F3F5F8;
}

svg {
  fill: #4C555C;
  height: 1.5rem;
  width: 1.5rem;
}
svg:hover {
  fill: #BD6B31;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #202529;
  background-image: url(../images/bkgd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 4rem auto 4rem;
  grid-template-columns: auto;
}

header {
  background-color: #202529;
  border-bottom: 1px solid #4C555C;
}
header svg {
  height: 100%;
  width: 100%;
}
header span:hover {
  color: #BD6B31;
}

footer {
  grid-area: footer;
  background-color: #202529;
  border-top: 1px solid #4C555C;
}
footer span {
  font-size: 1rem;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section svg {
  fill: #F3F5F8;
  opacity: 0.75;
}
section a:hover svg {
  fill: #BD6B31;
}
section.hero {
  max-height: 90vh;
}
section.section-nav {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2.5rem;
}
section.section-nav div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  height: min(17rem, 40vw);
  box-shadow: -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section-nav div a {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 37, 41, 0.5);
  transition: 0.5s ease-in-out;
}
section.section-nav div a:hover {
  background-color: rgba(32, 37, 41, 0.2);
}
section.section-nav div a span {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #F3F5F8;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.section-nav div.nav1 {
  background-image: url(../images/nav1.jpg);
  min-width: min(17rem, 100%);
  flex-grow: 1;
}
section.section-nav div.nav2 {
  background-image: url(../images/nav2.jpg);
  min-width: 50%;
  flex-grow: 2;
}
section.section-nav div.nav3 {
  background-image: url(../images/nav3.jpg);
  min-width: 50%;
  flex-grow: 2;
}
section.section-nav div.nav4 {
  background-image: url(../images/nav4.jpg);
  min-width: min(17rem, 100%);
  flex-grow: 1;
}

.gallery-img {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  box-shadow: -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.gallery-img:hover {
  opacity: 1;
}

.card {
  box-shadow: -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.card .project {
  opacity: 0.75;
  transition: 0.3s ease-in-out;
}
.card:hover .project {
  opacity: 1;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1.25rem;
  justify-content: space-between;
}
form div {
  position: relative;
  font-weight: 300;
  font-size: 1rem;
}
form div label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625em;
  color: #A4571F;
  font-family: "Roboto Condensed", sans-serif;
  transition: 0.2s ease;
}
form div input {
  width: 100%;
  border: #4C555C 1px solid;
  border-radius: 5px;
  resize: none;
  font-family: "Roboto", sans-serif;
  color: #F3F5F8;
  padding: 0.625em;
  background-color: #191E22;
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.2), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.2);
}
form div input:focus {
  outline: #A4571F 2px solid;
}
form div input:not(:-moz-placeholder-shown) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}
form div input:not(:-ms-input-placeholder) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}
form div input:focus + label, form div input:not(:placeholder-shown) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}
form div input:-webkit-autofill {
  box-shadow: 0 0 0 10rem #191E22 inset;
  -webkit-text-fill-color: #F3F5F8;
}
form div textarea {
  width: 100%;
  height: 8rem;
  border: #4C555C 1px solid;
  border-radius: 5px;
  resize: none;
  font-family: "Roboto", sans-serif;
  color: #F3F5F8;
  padding: 0.625em;
  background-color: #191E22;
  box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.2), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.2);
}
form div textarea:focus {
  outline: #A4571F 2px solid;
}
form div textarea:not(:-moz-placeholder-shown) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}
form div textarea:not(:-ms-input-placeholder) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}
form div textarea:focus + label, form div textarea:not(:placeholder-shown) + label {
  transform: translate(5%, -50%) scale(0.9);
  background-color: #191E22;
  padding: 0.2em;
}

.custom-button {
  background-color: #A4571F;
  border-color: #A4571F;
  display: flex;
  align-items: center;
}
.custom-button span {
  color: #F3F5F8;
}
.custom-button:hover, .custom-button:active, .custom-button:focus {
  background-color: #BD6B31;
  border-color: #BD6B31;
}

.animated-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.animated-button span {
  transform: translateX(12%);
  transition: 0.2s ease-in-out;
}
.animated-button div {
  height: 0.625rem;
  width: 0.625rem;
  border-top: #F3F5F8 2px solid;
  border-right: #F3F5F8 2px solid;
  transform: rotate(45deg) translate(-100%, 100%);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.animated-button:hover span {
  transform: translateX(0);
}
.animated-button:hover div {
  transform: rotate(45deg) translate(0);
  opacity: 1;
}
.animated-button:active span {
  transform: translateX(12%);
}
.animated-button:active div {
  transform: rotate(45deg) translate(150%, -150%);
  opacity: 0;
}

.h4-white {
  color: #F3F5F8;
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.fromleft {
  -webkit-animation: fromleft 1s ease-in-out;
          animation: fromleft 1s ease-in-out;
}

.fromright {
  -webkit-animation: fromright 1s ease-in-out;
          animation: fromright 1s ease-in-out;
}

.fadein {
  -webkit-animation: fadein 0.5s ease-in-out;
          animation: fadein 0.5s ease-in-out;
}

@-webkit-keyframes fromleft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

@keyframes fromleft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
}
@-webkit-keyframes fromright {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
}
@keyframes fromright {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    white-space: normal;
    text-align: end;
  }
  h2 {
    font-size: 1.5rem;
    white-space: normal;
    text-align: end;
  }
  h3 {
    font-size: 1.125rem;
    margin: 2.75rem 0.625rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    font-size: 1rem;
  }
  span {
    font-size: 1rem;
  }
  a:link {
    font-size: 1rem;
  }
  header span {
    font-size: 1.5rem;
    color: #A4571F;
  }
  footer span {
    font-size: 0.875rem;
  }
  section.section-nav {
    gap: 1.25rem;
  }
  section.section-nav div {
    /* height: 12rem; */
  }
  section.section-nav div a span {
    font-size: 1.5rem;
  }
  .gallery-img {
    opacity: 1;
  }
  .project {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */