$clr: (
    primary: #202529,
    secondary: #4C555C,
    text: #F3F5F8,
    accent: #A4571F,
    hover: #BD6B31,
    form: #191E22,
);

$ft-fy: (
    main: ('Roboto', sans-serif),
    condensed: ('Roboto Condensed', sans-serif),
);

$ft-wt: (
    bold: 700,
    regular: 400,
    light: 300,
    thin: 100,
);

$ft-sz: (
    xxl: calc(64rem / 16),
    xl: calc(40rem / 16),
    lg: calc(32rem / 16),
    md: calc(24rem / 16),
    sm: calc(18rem / 16),
    xs: calc(16rem / 16),
    xxs: calc(14rem / 16),
);

$sdw: (
    box: (-0.5rem -0.5rem 2.0rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2.0rem rgba(0, 0, 0, 0.2)),
    input: (inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.2), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.2)),
    text:  (0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 0.5)),
);

$gap: calc(20rem /16);
$gap-nav: calc(40rem /16);

$border-radius: 5px;