$clr: (
    primary: #202529,
    secondary: #808D90,
    text: #F3F5F8,
    accent: #A4571F,
    hover: #be733d,
    form: #191E22,
);

$ft-fy: (
    main: ('Roboto', sans-serif),
    condensed: ('Roboto Condensed', sans-serif),
);

$ft-wt: (
    bold: 700,
    regular: 400,
    light: 300,
    thin: 100,
);

$ft-sz: (
    xxl: clamp(2rem, 4.44vw, 4rem),
    xl: clamp(1.5rem, 2.77vw, 2.5rem),
    lg: clamp(1.5rem, 2.22vw, 2rem),
    md: clamp(1.125rem, 1.66vw, 1.5rem),
    sm: clamp(1rem, 1.25vw, 1.125rem),
    xs: clamp(0.875rem, 1.11vw, 1rem),
);

$sdw: (
    box: (-0.5rem -0.5rem 2.0rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2.0rem rgba(0, 0, 0, 0.2)),
    input: (inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.2), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.2)),
    text:  (0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 0.5)),
);

$gap: calc(20rem / 16);
$gap-nav: calc(40rem / 16);

$border: 1px solid map-get($clr, 'secondary');
$border-radius: 5px;