@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

$color-main: #202529;
$color-secondary: #4C555C;
$color-text: #F3F5F8;
$color-accent: #A4571F;
$color-hover: #BD6B31;
$color-form: #191E22;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$font-size-xxs: calc(14rem / 16);
$font-size-xs: calc(16rem / 16);
$font-size-s: calc(18rem / 16);
$font-size-m: calc(24rem / 16);
$font-size-l: calc(32rem / 16);
$font-size-xl: calc(40rem / 16);
$font-size-xxl: calc(64rem / 16);

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

$shadow-text:  0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 0.5);
$shadow-box: -0.5rem -0.5rem 2.0rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2.0rem rgba(0, 0, 0, 0.2);
$shadow-input: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.2), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.2);

$gap: calc(20rem /16);
$gap-nav: calc(40rem /16);

$border-radius: 5px;

h1 {
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    color: $color-text;
    text-shadow: $shadow-text;
    z-index: 1;
    white-space: nowrap;
}

h2 {
    font-family: $font-main;
    font-weight: $font-weight-regular;
    font-size: $font-size-xl;
    color: $color-accent;
    z-index: 1;
}

h3 {
    font-family: $font-main;
    font-weight: $font-weight-thin;
    font-size: $font-size-l;
    color: $color-text;
    margin: 2.25em 10% 2.25em 10%;
}

h4 {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    color: $color-text;
}

h5 {
    font-family: $font-main;
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    color: $color-secondary;
}

p {
    font-family: $font-main;
    font-weight: $font-weight-thin;
    font-size: $font-size-s;
    color: $color-text;
    line-height: 1.5;
    margin-bottom: 1.1em;
}

span {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    color: $color-secondary;
}

a {
    &:link {
        font-family: $font-secondary;
        font-size: $font-size-s;
        font-weight: $font-weight-regular;
        color: $color-accent;
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;
    }
    &:visited {
        color: $color-accent;
    }
    &:hover {
        color: $color-hover;
    }
    .btn {
        background-color: $color-accent;
        border-color: $color-accent;
        &:hover {
            background-color: $color-hover;
            border-color: $color-hover;
        }
        span {
            color: $color-text;
        }
    }
}

svg {
    fill: $color-secondary;
    height: $font-size-m;
    width: $font-size-m;
    &:hover {
        fill: $color-hover;
    }
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $color-main;
    background-image: url(../images/bkgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: $font-size-xxl auto $font-size-xxl;
    grid-template-columns: auto;
}

header {
    background-color: $color-main;
    border-bottom: 1px solid $color-secondary ;
    svg {
        height: 100%;
        width: 100%;
    }
    span:hover {
        color: $color-hover;
    }
}

footer {
    grid-area: footer;
    background-color: $color-main;
    border-top: 1px solid $color-secondary;
    span {
        font-size: $font-size-xs;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap;
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    svg {
        fill: $color-text;
        opacity: 0.75;
    }
    a:hover svg {
        fill: $color-hover;
    }
    &.hero {
        max-height: 90vh;
    }
    &.section-nav {
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: $gap-nav;
        div {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: $border-radius;
            height: min(17rem, 40vw);
            box-shadow: $shadow-box;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: rgba(32, 37, 41, 0.5);
                transition: 0.5s ease-in-out;
                &:hover {
                    background-color: rgba(32, 37, 41, 0.2);
                }
                span {
                    font-family: $font-main;
                    font-size: $font-size-l;
                    font-weight: $font-weight-light;
                    color: $color-text;
                    text-shadow: $shadow-text;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }
            &.nav{
                &1 {
                    background-image: url(../images/nav1.jpg);
                    min-width: min(17rem, 100%);
                    flex-grow: 1;
                }
                &2 {
                    background-image: url(../images/nav2.jpg);
                    min-width: 50%;
                    flex-grow: 2;
                }
                &3 {
                    background-image: url(../images/nav3.jpg);
                    min-width: 50%;
                    flex-grow: 2;
                }
                &4 {
                    background-image: url(../images/nav4.jpg);
                    min-width: min(17rem, 100%);
                    flex-grow: 1;
                }
            }
        }
    }
}

.gallery-img{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    box-shadow: $shadow-box;
    &:hover {
        opacity: 1;
    }
}

.card{
    box-shadow: $shadow-box;
    .project {
    opacity: 0.75;
    transition: 0.3s ease-in-out;
    }
    &:hover {
        .project{
            opacity: 1;
        }
    }
}

form{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: $gap;
    justify-content: space-between;
    div {
        position: relative;
        font-weight: $font-weight-light;
        font-size: $font-size-xs;
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.625em;
            color: $color-accent;
            font-family: $font-secondary;
            transition: 0.2s ease;
        }
        input {
            width: 100%;
            border: $color-secondary 1px solid;
            border-radius: $border-radius;
            resize: none;
            font-family: $font-main;
            color: $color-text;
            padding: 0.625em;
            background-color: $color-form;
            box-shadow: $shadow-input;
            &:focus {
                outline: $color-accent 2px solid
            }
            &:focus, &:not(:placeholder-shown) {
                + label {
                    transform: translate(5%, -50%) scale(0.9);
                    background-color: $color-form;
                    padding: 0.2em;
                }
            }
            &:-webkit-autofill {
                box-shadow: 0 0 0 10rem $color-form inset;
                -webkit-text-fill-color: $color-text;
            }
        }
        textarea {
            width: 100%;
            height: 8rem;
            border: $color-secondary 1px solid;
            border-radius: $border-radius;
            resize: none;
            font-family: $font-main;
            color: $color-text;
            padding: 0.625em;
            background-color: $color-form;
            box-shadow: $shadow-input;
            &:focus {
                outline: $color-accent 2px solid;
            }
            &:focus, &:not(:placeholder-shown) {
                + label {
                    transform: translate(5%, -50%) scale(0.9);
                    background-color: $color-form;
                    padding: 0.2em;
                }
            }
        }
    }
}

.custom-button {
    background-color: $color-accent;
    border-color: $color-accent;
    display: flex;
    align-items: center;
    span {
        color: $color-text;
    }
    &:hover, &:active, &:focus {
        background-color: $color-hover;
        border-color: $color-hover;
    }
}

.animated-button {
    width: fit-content;
    span {
        transform: translateX(12%);
        transition: 0.2s ease-in-out;
    }
    div {
        height: 0.625rem;
        width: 0.625rem;
        border-top: $color-text 2px solid;
        border-right: $color-text 2px solid;
        transform: rotate(45deg) translate(-100%, 100%);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    &:hover {
        span {
            transform: translateX(0);
        }
        div {
            transform: rotate(45deg) translate(0);
            opacity: 1;
        }
    }
    &:active {
        span {
            transform: translateX(12%);
        }
        div {
            transform: rotate(45deg) translate(150%, -150%);
            opacity: 0;
        }
    }
}

.h4-white {
    color: $color-text;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.fromleft {
    animation: fromleft 1s ease-in-out;
}

.fromright {
    animation: fromright 1s ease-in-out;
}

.fadein {
    animation: fadein 0.5s ease-in-out;
}

@keyframes fromleft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
}

@keyframes fromright {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: $font-size-l;
        white-space: normal;
        text-align: end;
    }
    
    h2 {
        font-size: $font-size-m;
        white-space: normal;
        text-align: end;
    }
    
    h3 {
        font-size: $font-size-s;
        margin: 2.75rem 0.625rem;
    }
    
    h4 {
        font-size: $font-size-s;
    }
    
    h5 {
        font-size: $font-size-xxs;
    }
    
    p {
        font-size: $font-size-xs;
    }
    
    span {
        font-size: $font-size-xs;
    }
    
    a:link {
        font-size: $font-size-xs;
    }

    header {
        span{
            font-size: $font-size-m;
            color: $color-accent;
        }
    }

    footer {
        span {
            font-size: $font-size-xxs;
        }
    }

    section.section-nav{
        gap: $gap;
        div {
            a {
                span {
                    font-size: $font-size-m;
                }
            }
        }
    }

    .gallery-img{
        opacity: 1;
    }

    .project {
        opacity: 1;
    }
}