footer {
    grid-area: footer;
    background-color: map-get($clr, 'primary');
    border-top: 1px solid map-get($clr, 'secondary');
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap;
    }
}