body {
    width: 100%;
    min-height: 100vh;
    background: map-get($clr, 'primary') url(../images/bkgd.svg) no-repeat fixed;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}