header {
    background-color: $color-main;
    border-bottom: 1px solid $color-secondary ;
    svg {
        height: 100%;
        width: 100%;
    }
    span:hover {
        color: $color-hover;
    }
}

@media (max-width: 768px) {
    header {
        span{
            font-size: $font-size-m;
            color: $color-accent;
        }
    }
}