/* 🡳 GLOBAL 🡳 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-main: #202529;
    --color-secondary: #4C555C;
    --color-text: #F3F5F8;
    --color-accent: #A4571F;
    --color-form: #191e22;
    --font-main: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-size-xxs: 1.4rem;
    --font-size-xs: 1.6rem;
    --font-size-s: 1.8rem;
    --font-size-m: 2.4rem;
    --font-size-l: 3.2rem;
    --font-size-xl: 4.0rem;
    --font-size-xxl: 6.4rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-main);
    background-image: url(./images/bkgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: var(--font-size-xxl) auto var(--font-size-xxl);
    grid-template-columns: auto;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 🡱 GLOBAL 🡱 */

/* 🡳 TYPOGRAPHY 🡳 */

h1 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--font-size-xxl);
    color: var(--color-text);
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(26, 30, 34, 0.15);
    z-index: 1;
    white-space: nowrap;
}

h2 {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--font-size-xl);
    color: var(--color-accent);
    z-index: 1;
}

h3 {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: var(--font-size-l);
    color: var(--color-text);
    margin: 7.2rem 10% 7.2rem 10%;
}

h4 {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: var(--font-size-m);
    color: var(--color-text);
}

h5 {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
}

p {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: var(--font-size-s);
    color: var(--color-text);
    line-height: 1.5;
    margin-bottom: 2.0rem;
}

span {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: var(--font-size-s);
    color: var(--color-secondary);
}

a:link {
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-accent);
    text-decoration: none;
    line-height: 1.5;
    white-space: nowrap;
}

a:visited {
    color: var(--color-accent);
}

/* 🡱 TYPOGRAPHY 🡱 */

/* 🡳 BUTTONS 🡳 */

a.btn {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

a.btn:hover {
    background-color: #bd6b31;
    border-color: #bd6b31;
}

a.btn span {
    color: var(--color-text);
}

.custom-button {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    display: flex;
    align-items: center;
}

.custom-button span {
    color: var(--color-text);
}

.custom-button:hover, .custom-button:active, .custom-button:focus {
    background-color: #bd6b31;
    border-color: #bd6b31;
}

.animated-button {
    width: fit-content;
}

.animated-button span {
    transform: translateX(12%);
    transition: 0.2s ease-in-out;
}

.animated-button div {
    height: 1.0rem;
    width: 1.0rem;
    border-top: var(--color-text) 2px solid;
    border-right: var(--color-text) 2px solid;
    transform: rotate(45deg) translate(-100%, 100%);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.animated-button:hover span {
    transform: translateX(0);
}

.animated-button:hover div {
    transform: rotate(45deg) translate(0);
    opacity: 1;
}

.animated-button:active span {
    transform: translateX(12%);
}

.animated-button:active div {
    transform: rotate(45deg) translate(150%, -150%);
    opacity: 0;
}

/* 🡱 BUTTONS 🡱 */

/* 🡳 SVG 🡳 */

svg {
    fill: var(--color-secondary);
    height: var(--font-size-m);
    width: var(--font-size-m);
}

header svg {
    height: 100%;
    width: 100%;
}

svg:hover {
    fill: var(--color-accent);
}

section svg {
    fill: var(--color-text);
    opacity: 0.75;
}

section a:hover svg {
    fill: var(--color-accent);
}

/* 🡱 SVG 🡱 */

/* 🡳 HEADER 🡳 */

header {
    background-color: var(--color-main);
    border-bottom: 1px solid var(--color-secondary) ;
}

header a span:hover {
    color: var(--color-accent);
}

/* 🡱 HEADER 🡱 */

/* 🡳 FOOTER 🡳 */

footer {
    grid-area: footer;
    background-color: var(--color-main);
    border-top: 1px solid var(--color-secondary);
}

footer span {
    font-size: var(--font-size-xs);
}

footer ul {
    width: 15.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.0rem;
}

footer ul li {
    display: inline-block;
}

/* 🡱 FOOTER 🡱 */

/* 🡳 INDEX 🡳 */

.hero {
    max-height: 90vh;
}

.section-nav {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 4rem;
}

.section-nav div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.4rem;
    height: 30.0rem;
    box-shadow: -0.5rem -0.5rem 2.0rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2.0rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-nav div a {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 37, 41, 0.5);
    transition: 0.5s ease-in-out;
}

.section-nav div a:hover {
    background-color: rgba(32, 37, 41, 0.2);
}

.section-nav div a span {
    font-family: var(--font-main);
    font-size: var(--font-size-l);
    font-weight: 300;
    color: var(--color-text);
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav1 {
    background-image: url(./images/nav1.jpg);
    min-width: 30.0rem;
    flex-grow: 1;
}

.nav2 {
    background-image: url(./images/nav2.jpg);
    min-width: 50%;
    flex-grow: 2;
}

.nav3 {
    background-image: url(./images/nav3.jpg);
    min-width: 50%;
    flex-grow: 2;
}

.nav4 {
    background-image: url(./images/nav4.jpg);
    min-width: 30.0rem;
    flex-grow: 1;
}

.fromleft {
    animation: fromleft 1s ease-in-out;
}

.fromright {
    animation: fromright 1s ease-in-out;
}

@keyframes fromleft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
}

@keyframes fromright {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
}

/* 🡱 INDEX 🡱 */

/* 🡳 GALLERY 🡳 */

.cursor-pointer {
    cursor: pointer;
}

.gallery-img{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.gallery-img:hover {
    opacity: 1;
}

.fadein {
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}

/* 🡱 GALLERY 🡱 */

/* 🡳 PROJECTS 🡳 */


.project {
    opacity: 0.75;
    transition: 0.3s ease-in-out;
}

.card:hover .project{
    opacity: 1;
}

/* 🡱 PROJECTS 🡱 */

/* 🡳 CONTACT 🡳 */

ul {
    list-style: none;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: space-between;
}

form div {
    position: relative;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625em;
    color: #A4571F;
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: var(--font-size-xs);
    transition: 0.2s ease;
}

input {
    width: 100%;
    border: var(--color-secondary) 1px solid;
    border-radius: 0.4rem;
    resize: none;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: var(--font-size-xs);
    color: var(--color-text);
    padding: 0.625em;
    background-color: var(--color-form);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.25), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.25);
}

input:-webkit-autofill{
    box-shadow: 0 0 0 10rem var(--color-form) inset;
    -webkit-text-fill-color: var(--color-text);
}

textarea {
    width: 100%;
    height: 13rem;
    border: var(--color-secondary) 1px solid;
    border-radius: 0.4rem;
    resize: none;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: var(--font-size-xs);
    color: var(--color-text);
    padding: 0.625em;
    background-color: var(--color-form);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.25), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.25);
}

input:focus + label, input:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label {
    transform: translate(5%, -50%) scale(0.9);
    background-color: var(--color-form);
    padding: 0.2em;
}

input:focus, textarea:focus {
    outline: var(--color-accent) 2px solid;
}

.h4-white {
    color: var(--color-text);
    white-space: nowrap;
}

/* 🡱 PROJECTS 🡱 */

/* 🡳 MEDIA QUERY 🡳 */

@media (max-width: 768px) {

    /* 🡳 TYPOGRAPHY 🡳 */

    h1 {
        font-size: var(--font-size-l);
    }
    
    h2 {
        font-size: var(--font-size-m);
    }
    
    h3 {
        font-size: var(--font-size-s);
        ;
        margin: 4.4rem 1.0rem 4.4rem 1.0rem;
    }
    
    h4 {
        font-size: var(--font-size-s);
    }
    
    h5 {
        font-size: var(--font-size-xxs);
    }
    
    p {
        font-size: var(--font-size-xs);
    }
    
    span {
        font-size: var(--font-size-xs);
    }
    
    a:link {
        font-size: var(--font-size-xs);
    }
    
    /* 🡳 HEADER 🡳 */
    
    a.nav-link span{
        font-size: var(--font-size-m);
        color: var(--color-accent);
    }

    /* 🡳 INDEX 🡳 */

    .section-nav {
        gap: 2.0rem;
    }

    .section-nav div {
        height: 20.0rem;
    }

    .section-nav div a span {
        font-size: 2.2rem;
    }

    /* 🡳 GALLERY 🡳 */

    .gallery-img{
        opacity: 1;
    }

    /* 🡳 PROJECTS 🡳 */

    .project {
        opacity: 1;
    }
}

/* 🡱 MEDIA QUERY 🡱 */