* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-main: #202529;
    --color-secondary: #4C555C;
    --color-text: #F3F5F8;
    --color-accent: #A4571F;
    --color-form: #191e22;
    --font-main: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Condensed', sans-serif;
    --font-size-xxs: 1.4rem;
    --font-size-xs: 1.6rem;
    --font-size-s: 1.8rem;
    --font-size-m: 2.4rem;
    --font-size-l: 3.2rem;
    --font-size-xl: 4.0rem;
    --font-size-xxl: 6.4rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-main);
    background-image: url(./images/bkgd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: var(--font-size-xxl) auto var(--font-size-xxl);
    grid-template-columns: auto;
}

a:link {
    font-family: var(--font-secondary);
    font-size: var(--font-size-s);
    font-weight: 400;
    color: var(--color-accent);
    text-decoration: none;
    line-height: 1.5;
    white-space: nowrap;
}

a:visited {
    color: var(--color-accent);
}

h1 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--font-size-xxl);
    color: var(--color-text);
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(26, 30, 34, 0.15);
    z-index: 1;
    white-space: nowrap;
}

h2 {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--font-size-xl);
    color: var(--color-accent);
    z-index: 1;
}

h3 {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: var(--font-size-l);
    color: var(--color-text);
    margin: 7.2rem 10% 7.2rem 10%;
}

h4 {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: var(--font-size-m);
    color: var(--color-text);
}

h5 {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
}

p {
    font-family: var(--font-main);
    font-weight: 100;
    font-size: var(--font-size-s);
    color: var(--color-text);
    line-height: 1.5;
    margin-bottom: 2.0rem;
}

span {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: var(--font-size-s);
    color: var(--color-secondary);
}

svg {
    fill: var(--color-secondary);
}

main svg, footer svg {
    height: var(--font-size-m);
    width: var(--font-size-m);
}

svg:hover {
    fill: var(--color-accent);
}

/* BOOTSTRAP */

a.btn {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

a.btn:hover {
    background-color: #bd6b31;
    border-color: #bd6b31;
}

a.btn span {
    color: var(--color-text);
}

header {
    background-color: var(--color-main);
    border-bottom: 1px solid var(--color-secondary) ;
}

header a span:hover {
    color: var(--color-accent);
}

.gallery-img{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.gallery-img:hover {
    opacity: 1;
}

/* MAIN */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 2.0rem;
}

section ul li {
    display: flex;
    align-items: center;
    gap: 1.0rem;
}

section ul li a {
    display: flex;
    align-items: center;
    gap: 1.0rem;
}

section ul li svg {
    fill: var(--color-text);
}

section ul li a:hover svg {
    fill: var(--color-accent);
}

form {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: space-between;
}

form div {
    position: relative;
}

label {
    position: absolute;
    padding: 0.625em;
    color: #A4571F;
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: var(--font-size-xs);
    transition: 0.2s ease;
}

input {
    width: 100%;
    border: var(--color-secondary) 1px solid;
    border-radius: 0.4rem;
    resize: none;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: var(--font-size-xs);
    color: var(--color-text);
    padding: 0.625em;
    background-color: var(--color-form);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.25), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.25);
}

input:-webkit-autofill{
    box-shadow: 0 0 0 10rem var(--color-form) inset;
    -webkit-text-fill-color: var(--color-text);
}

textarea {
    width: 100%;
    height: 13rem;
    border: var(--color-secondary) 1px solid;
    border-radius: 0.4rem;
    resize: none;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: var(--font-size-xs);
    color: var(--color-text);
    padding: 0.625em;
    background-color: var(--color-form);
    box-shadow: inset 0.3rem 0.3rem 0.3rem rgba(15, 15, 15, 0.25), inset -0.3rem -0.3rem 0.3rem rgba(57, 57, 57, 0.25);
}

input:focus + label, input:not(:placeholder-shown) + label, textarea:focus + label, textarea:not(:placeholder-shown) + label {
    transform: translate(5%, -50%) scale(0.9);
    background-color: var(--color-form);
    padding: 0.2em;
}

input:focus, textarea:focus {
    outline: var(--color-accent) 2px solid;
}

button {
    width: fit-content;
    background-color: var(--color-accent);
    border: none;
    border-radius: 0.4;
    padding: 0.8em 1.6em;
    display: flex;
    align-items: center;
}

button span {
    color: var(--color-text);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: var(--font-size-xxs);
    transform: translateX(12%);
    transition: 0.2s ease-in-out;
}

button div {
    height: 1.0rem;
    width: 1.0rem;
    border-top: var(--color-text) 2px solid;
    border-right: var(--color-text) 2px solid;
    transform: rotate(45deg) translate(-100%, 100%);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

button:hover span{
    transform: translateX(0);
}

button:hover div{
    transform: rotate(45deg) translate(0);
    opacity: 1;
}

button:active span{
    transform: translateX(12%);
}

button:active div{
    transform: rotate(45deg) translate(150%, -150%);
    opacity: 0;
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: var(--color-main);
    border-top: 1px solid var(--color-secondary);
}

footer span {
    font-size: var(--font-size-xs);
}

footer ul {
    width: 15.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.0rem;
}

footer ul li {
    display: inline-block;
}

/* INDEX */

.hero {
    max-height: 90vh;
}

.section--nav {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 4rem;
}

.div--nav {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.4rem;
    height: 30.0rem;
    box-shadow: -0.5rem -0.5rem 2.0rem rgba(0, 0, 0, 0.2), 0.5rem 0.5rem 2.0rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div--nav a {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 37, 41, 0.5);
    transition: 0.5s ease-in-out;
}

.div--nav a:hover {
    background-color: rgba(32, 37, 41, 0.2);
}

.div--nav a span {
    font-family: var(--font-main);
    font-size: var(--font-size-l);
    font-weight: 300;
    color: var(--color-text);
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(26, 30, 34, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav1 {
    background-image: url(./images/nav1.jpg);
    min-width: 30.0rem;
    flex-grow: 1;
}

.nav2 {
    background-image: url(./images/nav2.jpg);
    min-width: 50%;
    flex-grow: 2;
}

.nav3 {
    background-image: url(./images/nav3.jpg);
    min-width: 50%;
    flex-grow: 2;
}

.nav4 {
    background-image: url(./images/nav4.jpg);
    min-width: 30.0rem;
    flex-grow: 1;
}

.fromleft {
    animation: fromleft 1s ease-in-out;
}

.fromright {
    animation: fromright 1s ease-in-out;
}

@keyframes fromleft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
}

@keyframes fromright {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.fadein {
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}

/* PROYECTS */

.project {
    opacity: 0.75;
    transition: 0.3s ease-in-out;
}

.card:hover .project{
    opacity: 1;
}

/* CONTACT */

.section--contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 4rem;
}

.section--contact div {
    display: flex;
    gap: 2.5rem;
}

.section--contact div svg {
    flex-shrink: 0;
}

.div--grow1 {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.div--grow1 div {
    flex-direction: column;
}

.div--grow2 {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50%;
    flex-grow: 2;
}

.h4--white {
    color: var(--color-text);
}

/* TABLET */

@media (max-width: 768px) {

    a:link {
        font-size: var(--font-size-xs);
    }

    h1 {
        font-size: var(--font-size-l);
    }

    h2 {
        font-size: var(--font-size-m);
    }

    h3 {
        font-size: var(--font-size-s);
        ;
        margin: 4.4rem 1.0rem 4.4rem 1.0rem;
    }

    h4 {
        font-size: var(--font-size-s);
    }

    h5 {
        font-size: var(--font-size-xxs);
    }

    p {
        font-size: var(--font-size-xs);
    }

    span {
        font-size: var(--font-size-xs);
    }

    /* HEADER */

    a span{
        font-size: var(--font-size-m);
        color: var(--color-accent);
    }

    a.btn span {
        font-size: var(--font-size-xxs);
    }

    /* INDEX */

    .section--nav {
        gap: 2.0rem;
    }

    .div--nav {
        height: 20.0rem;
    }

    .div--nav a span {
        font-size: 2.2rem;
    }

    /* GALLERY */

    .gallery-img{
        opacity: 1;
    }

    /* PROJECTS */

    .project {
        opacity: 1;
    }

    /* CONTACT */

    .div--grow1 {
        flex-direction: row;
        gap: 2.0rem;
    }

    .div--grow1 div {
        flex-wrap: nowrap;
        width: 30%;
    }
}
/* MOBILE */

@media (max-width: 576px) {

    body {
        grid-template-rows: 4.8rem auto 4.8rem;
    }

    /* CONTACT */

    .section--contact {
        flex-direction: column;
    }

    .div--grow1 {
        justify-content: space-between;
        gap: 1.0rem;
    }

    .div--grow1 div {
        width: auto;
    }
}