*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: linear-gradient(rgba(44, 44, 44, 1), rgba(22,22,22, 1));
}
a:link{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    color: #E6D8CC;
    text-decoration: none;
}
a:visited{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    color: #E6D8CC;
    text-decoration: none;
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 7.2rem;
    color: #C4A386;
}
h2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 4.8rem;
    color: #996830;
}
h3{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 3.6rem;
    color: #996830;
}
h4{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 3.0rem;
    color: #C4A386; 
    margin: 3vh 0 3vh 0;
}
h5{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    color: #C4A386;
}
header{
    position: absolute;
    top: 0px;
    background-color: #444444;
    height: 7rem;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #996830;
    border-bottom-width: 1px;
}
header nav{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav picture{
    height: 100%;
    padding: 1vh;
}
header nav picture a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}
header nav ul li{
    display: inline-block;
    padding: 2.0rem;
}
main{
    width:  100%;
    height: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    overflow: overlay;
}
main section picture{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 2rem;
    background-color: #444444;
    transition: 0.5s ease-in-out;
}
main section picture:hover{
    opacity: 1;
}
main section a img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
main section ul{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}
form{
    width: 80%;
}
form label{
    display: none;
}
form input{
    width: 100%;
    height: 3.6rem;
    margin: 1vh 0 1vh 0;
    border: #7c7c7c 1px solid;
    border-radius: 0.6rem;
    resize: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #7c7c7c;
    background-color: #F0EAE4;
}
form textarea{
    width: 100%;
    height: 13rem;
    margin: 1vh 0 1vh 0;
    border: #7c7c7c 1px solid;
    border-radius: 0.6rem;
    resize: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #7c7c7c;
    background-color: #F0EAE4;
}
form button{
    width: 7.2rem;
    height: 3.6rem;
    color: white;
    background-color: #996830;
    border: none;
    border-radius: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    transition: 0.5s ease-in-out;
}
form button:hover{
    background-color: #C4A386;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color: #444444;
    height: 7rem;
    width: 100%;
    border-top-style: solid;
    border-top-color: #996830;
    border-top-width: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer span{
    top: 20px;
    left: 175px;    
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    color: #E6D8CC;
}
footer ul{
    top: 20px;
    right: 143px;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    display: inline-block;
    padding: 2.0rem;
}
.div--container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
}
.div--bkgd--dragon{
    background-image: url(./images/bkgd-dragon.png);
    background-repeat: no-repeat;
    background-size: cover 150vmin;
    background-position: top right;
    background-origin: content-box;
    padding-top: 7rem;
    width: 50vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.div--bkgd--eagle{
    background-image: url(./images/bkgd-eagle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-origin: content-box;
    padding-top: 8rem;
    width: 50vw;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.div--bkgd--horse{
    background-image: url(./images/bkgd-horse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-origin: content-box;
    padding-top: 8rem;
    width: 50vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.section--right{
    margin: 5vw 15vw 5vw 45vw;
    width: 40vw;
    height: 100%;
}
.section--center{
    margin: 5vw 15vw 5vw 15vw;
}
.gallery--img{
        transition: 0.5s ease-in-out;
}
.gallery--img:hover{
    transform: scale(1.1);
}
.gallery--grid{
    aspect-ratio: 3 / 4;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
        "img1 img2 img2"
        "img1 img3 img4"
        "img5 img5 img4"
        "img5 img5 img6";
    justify-items: center;
    align-items: center;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.div--project{
    float: left;
    width: 47%;
    margin: 1.5%;
}
.a--project{
    float: left;
    width: 100%;
    height: 50vh;
}
.li--contact{
    display: block;
    margin: 1vh 0 1vh 0;
}
.img--contact{
    height: 24px;
    width: 24px;
    margin-right: 1vw;
}