.custom-button {
    background-color: map-get($clr, 'accent');
    border-color: map-get($clr, 'accent');
    display: flex;
    align-items: center;
    span {
        color: map-get($clr, 'text');
    }
    &:hover, &:active, &:focus {
        background-color: map-get($clr, 'hover');
        border-color: map-get($clr, 'hover');
    }
}

.animated-button {
    @extend .custom-button;
    width: fit-content;
    span {
        transform: translateX(12%);
        transition: 0.2s ease-in-out;
    }
    div {
        height: 0.625rem;
        width: 0.625rem;
        border-top: map-get($clr, 'text') 2px solid;
        border-right: map-get($clr, 'text') 2px solid;
        transform: rotate(45deg) translate(-100%, 100%);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    &:hover {
        span {
            transform: translateX(0);
        }
        div {
            transform: rotate(45deg) translate(0);
            opacity: 1;
        }
    }
    &:active {
        span {
            transform: translateX(12%);
        }
        div {
            transform: rotate(45deg) translate(150%, -150%);
            opacity: 0;
        }
    }
}