svg {
    fill: map-get($clr, 'secondary');
    height: map-get($ft-sz, 'md');
    width: map-get($ft-sz, 'md');
    &:hover {
        fill: map-get($clr, 'hover');
    }
}

main {
    svg {
        fill: map-get($clr, 'text');
        opacity: 0.75;
    }
    a:hover svg {
        fill: map-get($clr, 'hover');
    }
}