@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

h1 {
    @include font('main', 'thin', 'lg', 'text');
    margin: 2.25em 10% 2.25em 10%;
}

h2 {
    @include font('condensed', 'regular', 'md', 'text');
}

p {
    @include font('main', 'thin', 'sm', 'text');
    line-height: 1.5;
    margin-bottom: 1.1em;
}

span {
    @include font('condensed', 'regular', 'sm', 'secondary');
}

a {
    &:link {
        @include font('condensed', 'regular', 'sm', 'accent');
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;
    }
    &:visited {
        color: map-get($clr, 'accent');
    }
    &:hover {
        color: map-get($clr, 'hover');
    }
}

.hero {
    div {
        h2 {
            @include font('condensed', 'bold', 'xxl', 'text');
            text-shadow: map-get($sdw, 'text');
            z-index: 1;
            white-space: nowrap;
        }
        h3 {
            @include font('main', 'regular', 'xl', 'accent');
            z-index: 1;
        }
    }
}

.section-nav {
    span {
        @include font('main', 'light', 'lg', 'text');
        text-shadow: map-get($sdw, 'text');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: map-get($ft-sz, 'lg');
        white-space: normal;
        text-align: end;
    }
    
    h2 {
        font-size: map-get($ft-sz, 'md');
        white-space: normal;
        text-align: end;
    }
    
    h3 {
        font-size: map-get($ft-sz, 'sm');
        margin: 2.75rem 0.625rem;
    }
    
    h4 {
        font-size: map-get($ft-sz, 'sm');
    }
    
    h5 {
        font-size: map-get($ft-sz, 'xxs');
    }
    
    p {
        font-size: map-get($ft-sz, 'xs');
    }
    
    span {
        font-size: map-get($ft-sz, 'xs');
    }
    
    a:link {
        font-size: map-get($ft-sz, 'xs');
    }
    .section-nav {
        span {
            font-size: map-get($ft-sz, 'md');
        }
    }
}