@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

h1 {
    font-family: $font-main;
    font-weight: $font-weight-thin;
    font-size: $font-size-l;
    color: $color-text;
    margin: 2.25em 10% 2.25em 10%;
}

h2 {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-m;
    color: $color-text;
}

p {
    font-family: $font-main;
    font-weight: $font-weight-thin;
    font-size: $font-size-s;
    color: $color-text;
    line-height: 1.5;
    margin-bottom: 1.1em;
}

span {
    font-family: $font-secondary;
    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    color: $color-secondary;
}

a {
    &:link {
        font-family: $font-secondary;
        font-size: $font-size-s;
        font-weight: $font-weight-regular;
        color: $color-accent;
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;
    }
    &:visited {
        color: $color-accent;
    }
    &:hover {
        color: $color-hover;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: $font-size-l;
        white-space: normal;
        text-align: end;
    }
    
    h2 {
        font-size: $font-size-m;
        white-space: normal;
        text-align: end;
    }
    
    h3 {
        font-size: $font-size-s;
        margin: 2.75rem 0.625rem;
    }
    
    h4 {
        font-size: $font-size-s;
    }
    
    h5 {
        font-size: $font-size-xxs;
    }
    
    p {
        font-size: $font-size-xs;
    }
    
    span {
        font-size: $font-size-xs;
    }
    
    a:link {
        font-size: $font-size-xs;
    }
}