@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

h1 {
    @include font('main', 'thin', 'lg', 'text');
    margin: 2.25em 10% 2.25em 10%;
    text-align: center;
}

h2 {
    @include font('condensed', 'regular', 'md', 'text');
}

p {
    @include font('main', 'thin', 'sm', 'text');
    line-height: 1.5;
    margin-bottom: 1.1em;
}

span {
    @include font('condensed', 'regular', 'sm', 'secondary');
}

a {
    transition: 0.3s;
    &:link {
        @include font('condensed', 'regular', 'sm', 'accent');
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;
    }
    &:visited {
        color: map-get($clr, 'accent');
    }
    &:hover {
        color: map-get($clr, 'hover');
    }
}

strong {
    @include font('condensed', 'bold', 'xxl', 'text');
    text-shadow: map-get($sdw, 'text');
    z-index: 1;
    white-space: nowrap;
    animation: fromright 1s ease-in-out forwards;
}

em {
    @include font('main', 'regular', 'xl', 'text');
    text-shadow: map-get($sdw, 'text');
    z-index: 1;
    opacity: 0.9;
    animation: fromright 1.3s ease-in-out forwards;
}

header {
    span {
        transition: 0.3s;
        &:hover {
            color: map-get($clr, 'hover');
        }
    }
    .current-page {
        color: map-get($clr, 'accent');
    }

}

footer {
    span {
        font-size: map-get($ft-sz, 'xs');
    }
}

.section-nav {
    span {
        @include font('main', 'light', 'lg', 'text');
        text-shadow: map-get($sdw, 'text');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 768px) {
    strong {
        white-space: normal;
        text-align: end;
    }
    em {
        white-space: normal;
        text-align: end;
    }
    header {
        a {
            span{
                font-size: map-get($ft-sz, 'lg');
                color: map-get($clr, 'accent');
            }
        }
    }
}