.gallery-img{
    height: auto;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    box-shadow: map-get($sdw, 'box');
    &:hover {
        opacity: 1;
    }
}

.gallery-container {
    height: auto;
    cursor: pointer;
}

@media (max-width: 768px) {
    .gallery-img{
        opacity: 1;
    }
}